pre {
  background-color: #272822;
}

code {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

code {
  font-size: 14px;
  line-height: 1.4;
}

.prettyprint ol.linenums > li {
  list-style-type: decimal;
}

code {
  overflow: auto;
  resize: horizontal;
}
